/* 头部导航栏设置 */
#tb {
	height: 40px;
	background: rgba(0, 0, 0,.5);
	display: flex;	
	/* 设置头部模块的优先级  使其显示在视频上方*/
	z-index:100;
	position:relative;
}
#tb>ul>li>a {
	background-image: url(../img/1_fsbnet_icon-sprite.png);
	height:40px;
	width:61.82px;
	background-repeat: no-repeat;
	background-position:-16px -76px;
	display: block;
	position: relative;
	z-index: 900;
}
#tb>ul>li {
	float: left;
	margin: 0 20px;
	line-height: 40px;
	cursor: pointer;
	color: rgba(255, 255, 255, .5);
}
/* 头部游戏二级图片导航 */
#tb>ul>#yx>#tpdh {
	position: fixed;
	top: 40px;
	background:#161a23;
	width:100%;
	display:none; 
	transform: translateX(-134px);
	z-index: 1000;
}
/* 头部游戏二级效果 */
#tb>ul>#yx:hover #tpdh{
	display:block;
}
#tpdh>ul {
	height: 200px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
#tpdh>ul>li{
	height: 180px;
}
#tpdh>ul>li>a>img {
	width: 140px;
	height: 180px;
	margin: 0 3px;
}
#footer{
	background-color: #202020;
	width:100%;
	padding:50px 0;
	/* margin-top:-4px; */
}
#footer>p{
	margin:0 auto;
	width:1100px;
	text-align: center;
	color:rgba(255,255,255,.3);
}
#video{
	/* 设置视频的优先级为最低 */
	z-index:1; 
	position:absolute;
	top:0px;
}
/* 设置nav的高度 */
#nav{
	position:absolute;
	z-index: 98;
	top:80px;
	height:48px;
	background:white;
	width:100%;
}
#aylg{
	height:48px;
	overflow:hidden;
	float: left;
}
#navlj{
	float:left;
}
#navlj>ul{
	display:flex;
	align-items:center;
	height:48px;
	justify-content:flex-start;
}
#navlj>ul>li{
	height:100%;
	position: relative;
}
#navlj>ul>li>a{
	display:block;
	height:100%;
	width:auto;
	border-right:1px solid #e5e3dc;
	color:#4b535d;
	line-height: 48px;
	padding:0 20px;
}
/* 设置鼠标悬停时的效果 */
#navlj>ul>li>a:hover{
	background:#333;
	color:#f7931e;
}
/* 设置导航栏下的二级菜单 */
.naver {
	position: absolute;
	top:100%;
	width:170px;
	background: #353c42;
	display: none;
}
#nav>#navlj>ul>li>.naver li{
	height:48px;
	border-bottom: 1px solid #e5e3dc;
}
#nav>#navlj>ul>li>.naver li>a{
	line-height:48px;
	color:white;
	text-align: center;
	margin-left: 5px;
}
/* 鼠标悬停后显示菜单 */
#navlj>ul>li:hover .naver{
	display:block;
	z-index: 990;
}
/* 鼠标悬停后文字改变 */
#nav>#navlj>ul>li>.naver>li>a:hover{
	color:#f7931e;
}
/* 定义购买图标样式 */
#gmtb{
	float:right;
	width:113.61px;
	height:48px;
}
#header>#nav>#gmtb>a{
	display:block;
	line-height: 48px;
	text-align: center;
	background: #f7931e;
	color:#fff;
}
#header>#nav>#gmtb>a:hover{
	color:#f7931e;
}
/* 设置视频上方文字与图标 */
#jngs{
	position:absolute;
	z-index: 888;
	width:100%;
	text-align: center;
	top:370px;
}
.tb{
	float:left;
	width:90px;
	height:90px;
	cursor: pointer;
	display: inline-block;
	margin:0 9.6px;
	border-radius:50%;
	border:1px solid #00c3ff;
	position: relative;
	left:400px;
	background-color: rgba(64,82,117,.4);
}
/* 悬浮图标的样式 */
.tb:hover{
	background-color: rgba(64,82,117,.9);
}
/* 图标大小 */
#jngs>#tbqy>.tb>img{
	width:68.3px;
	height:68.3px;
	position: relative;
	top:10px;
}
/* 图片人物名称 */
#jngs>h1{
	font-size:77px;
	color:#f0edf2;
	font-style: italic;
	font-weight: 400;
}
/* 技能名称 */
#jngs>h4{
	color:#00c3ff;
	margin-bottom: 17px;
	font-size: 25px;
}
/* 设置主体位置 */
#body{
	position:relative;
	margin-top:719px;
	background-color: rgba(229,214,231,1);
	background-size:cover;
	background-repeat: no-repeat;
	background-position:90%;
}
#body::before{
	content:"";
	position:absolute;
	width:100%;
	top:-15px;
	background-image:url(../img/1_assets_img_dividers_wing%20.png);
	height:36px;
	z-index:999;
	background-size:100%;
	background-repeat: no-repeat;
}
/* 概况盒子样式 */
#gk{
	position:absolute;
	top:24px;
	left:90px;
}
#gk>ul{
	width:595px;
}
.dj{
	background-color: rgba(255,255,255,.6);
	display: inline-block;
	width:49.5%;
	text-align: center;
	font-size: 25px;
	cursor: pointer;
}
.ztys{
	color:#3e383a;
}
/* 定义概括头部内容 */
#gktb{
	padding:22px;
}
#gktb::after{
	content: "";
	display: block;
	clear:both;
}
#gktb>div:first-child{
	float:left;
	width:50%;
}
#gktb>div:last-child{
	float:right;
	width:35%;
}
#gktb>div:first-child>h3{
 color:#00c3ff;
 font-size:25px;
}
#gktb>div:first-child>h4{
	font-size: 58px;
	font-style: italic;
	color:#f0edf2;
	font-weight: normal;
}
#gktb>div:nth-child(2)>h3{
	font-size:25px;
	color:#00c3ff;
}
.sx{
	background-image: url(../img/1_assets_img_star.png);
	width:52px;
	height:50px;
	display: inline-block;
	margin-bottom: 40px;
}
.sx.kx{
	background-position: 0 -52px;
}
#gktb>p{
	border-left: 6px solid #00C3FF;
	padding-left: 18px;
	margin-left: 12px;
	color:#fff;
	line-height: 1.6;
}
#hz{
	background-color: rgba(19,42,77,.6);
	/* display: none; */
}
/* 设置分割线样式 */
.fgx{
	border-bottom:3px solid rgba(255,255,255,.15) ;   
}
/* 设置技能区域盒子样式 */
#jn{
	padding:18px;
}
#jn>h1{
	color:#00c3ff;
	font-size: 25px;
}
/* 技能介绍 */
.jn{
	margin-top: 2px;
	background-color: rgba(19,42,77,.2);
	height:80px;
	padding: 22px;
}
.jntp{
	background-color:rgba(64,82,117,.4);
	width: 70px;
	height:70px;
	border-radius: 50%;
	border: 2px solid rgba(240,237,242,.4);
	display: inline-block;
	transform: translate(0px,-10px );
	margin-right:20px;
}
.tp{
	width:60px;
	height:60px;
	transform: translate(5px,3px) ;
}
.jnjs{
	display: inline-block;
	color:white;
	transform: translate(10px, 0px);
}
#jn>.jn>.jnjs>h1:first-child{
	margin-bottom: 10px;
	font-size: 20px;
}
#jn>.jn>.jnjs>p:last-child{
	line-height: 25px;
	font-size: 15px;
}
#jntp1{
	transform:translate(0,-35px);
}
#tp1{
	transform: translate(-5px,15px) scale(1.2);
	width:80.3px;
	height:35px;
}
/* 设置故事盒子背景 */
#gs{
	padding:22px 44px 22px;
	background-color: rgba(19,42,77,.6);
	display: none;
}
#gk>#gs>h3:first-child{
	font-size: 25px;
	color:#00c3ff;
	margin-bottom: 5px;
}
#gk>#gs>h3:nth-child(3){
	font-size: 25px;
	color:#00c3ff;
	margin:10px 0;
}
.js{
	font-size: 16px;
	color:#FFFFFF;
	margin-bottom: 10px;
}
.bj{
	color:#FFFFFF;
	font-size: 16px;
	line-height:27px;
	margin-bottom: 10px;
}
#myvideo{
	min-width: 100%;
	overflow: hidden;
	transform: translateX(-400px);
}